

section {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
   
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left-side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profile-Text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile-Text .image {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-Text .image img{
    position: relative;
    top: 0;
    left: 0;
    right: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-Text h2 {
    color: #fff;
    font-size: 22px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600px;
    line-height: 16px;
}

.profile-Text h3 {
    color: #fff;
    font-size: 17px;
    font-weight: 300px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 10px;
}
.contact-info{
    padding-top: 25px;
    color: #fff;
}

.title {
    font-size: 20px;
}



.description {
    color: #fff;
    /* text-transform: uppercase; */
    font-weight: 30px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 15px;
}

.description a{
    text-decoration: none;
    color: #fff;
}

.contact-info .description{
    position: relative;
}
.icon {
    display: inline-block;
    font-size: 16px;
    /* color: #003147; */
    margin-right: 15px;
}
.description .icon-text {
    display: inline;
    padding-left: 10px;

}

.icons{
    margin-right: 10px;
}

.contact-eduinfo{
    padding-top: 20px;
    color: #fff;
}
.contact-eduinfo span{
    line-height: 30px;
    font-size: 17px;

}
.contact-eduinfo h5{
    color: gray;
    padding-bottom: -15px;
}

.contact-lang {
    color: #fff;
    padding-top: 20px;
}
.contact-lang span{
    line-height: 30px;
    font-size: 17px;
    padding-top: 20px;
}

/* right side */

.container .right-side {
    position: relative;
    background: #fff;
    padding: 40px;
}
.about {
    margin-bottom: 35px;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.about p{ 
    text-align: justify;
    text-justify: inter-word;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}
.about .box .year-company{
    min-width: 150px;
    margin-top: 2px;
    /* line-height: 18px; */
}

.about .box .year-company h5{
    text-transform: capitalize;
    color: #848c90;
    font-weight: 60px;
}

.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.about .box .text p{ 
    text-align: justify;
    text-justify: inter-word;
}

.boxx{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    line-height: 2px;
    padding-left: 63px;  
}

.skill .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
    /* letter-spacing: 2px; */
}

/* .skill .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
} 

.skill .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}*/

.interest ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.interest ul li{
    list-style-type: none;
    font-weight: 500;
    color: #848c99;
    padding: 20px;
    font-size: 18px;
}

@media (max-width: 1000px)
{
    .container {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 1000px){
    .about .box {
        flex-direction: column;
    }

    .about.box .year-company {
        margin-bottom: 5px;
    }

    .skill .box {
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 600px){
    .interest ul li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boxx{
        grid-template-columns: repeat(2,1fr);

    }
}


/* SLIDER SECTION */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #003147;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked+.slider {
    background-color: #003147;
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
    background-color: #003147;
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  /* Rounded sliders */
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #secondary_content {
    display: none;
  }